<!-- <template name="footer">
  <div class="ui container grid">
      <div class="ui mini statistic two wide column">
        <div class="value">
          截至目前
        </div>
        <div class="label">
          2016.07.25
        </div>
      </div>
      <div class="ui mini statistic two wide column">
        <div class="value">
          2,204
        </div>
        <div class="label">
          捐助者
        </div>
      </div>
    <div class="ui mini statistic two wide column">
      <div class="value">
        2,204
      </div>
      <div class="label">
        次捐助
      </div>
    </div>
    <div class="ui mini statistic two wide column">
      <div class="value">
        2,204
      </div>
      <div class="label">
        次募集
      </div>
    </div>
    <div class="ui mini statistic two wide column">
      <div class="value">
        2,204
      </div>
      <div class="label">
        次直播
      </div>
    </div>
    <div class="ui mini statistic two wide column">
      <div class="value">
        2,204
      </div>
      <div class="label">
        次借阅
      </div>
    </div>
    <div class="ui mini statistic two wide column">
      <div class="value">
        2,204
      </div>
      <div class="label">
        次购买
      </div>
    </div>
  </div>
</template>
 -->