.found {
	position: relative;
  .found-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
  }
  .content {
    position:absolute;
    bottom:0px;
    left:0;
    right:0;
    text-align:center;
   background-color:rgba(255,255,255,.61);
   padding:1rem 0;
  }
}
.donate-news {
  padding-top:30px !important;
}
.donate-form{
  padding-top:30px;
}
