.found {
	position: relative;
  .found-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -9;
  }
  .content {
  	padding-top: 200px;
    text-align: center;
    width: 500px;
    margin:0 auto;
    text-shadow: 1px 1px #666;
  }
}
